<!DOCTYPE html>
<html dir="ltr" lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}/css/style.css">
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/page.js" type="text/javascript"></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/comment-reply.js?ver=3.4.1'></script>
</head>

<body class="{% block body-class %}{% endblock %}">
<div id="page" class="hfeed">
	<header id="branding" role="banner">
			{% block site-header %}{% endblock %}
	</header><!-- #branding -->
	<div id="main">
	{% block contact %}{% endblock %}
	</div><!-- #main -->
	<footer id="colophon" role="contentinfo">
			<div id="site-generator">
				<a href="#" title="Django blog" rel="generator">自豪地采用 Champagne</a>
			</div>
	</footer><!-- #colophon -->
</div><!-- #page -->
</body></html>
