{% extends "base.html" %}

{% block title %}楚狂人 | 我本楚狂人，凤歌笑孔丘{% endblock %}

{% block body-class %}home blog single-author two-column right-sidebar{% endblock %}

{% block site-header %}
			<hgroup>
				<h1 id="site-title"><span><a href="/" title="楚狂人" rel="home">楚狂人</a></span></h1>
				<h2 id="site-description">我本楚狂人，凤歌笑孔丘</h2>
			</hgroup>

						<a href="http://127.0.0.1/wordpress/">
									<img src="{{ STATIC_URL }}/images/lanterns.jpg" width="1000" height="288" alt="">
							</a>
			
								<form method="get" id="searchform" action="http://127.0.0.1/wordpress/">
		<label for="s" class="assistive-text">搜索</label>
		<input type="text" class="field" name="s" id="s" placeholder="搜索">
		<input type="submit" class="submit" name="submit" id="searchsubmit" value="搜索">
	</form>
			
			<nav id="access" role="navigation">
				<h3 class="assistive-text">主菜单</h3>
								<div class="skip-link"><a class="assistive-text" href="http://localhost/wordpress/#content" title="跳至主内容区域">跳至主内容区域</a></div>
				<div class="skip-link"><a class="assistive-text" href="http://localhost/wordpress/#secondary" title="跳至副内容区域">跳至副内容区域</a></div>
								<div class="menu">
									<ul>
										<li class="current_page_item"><a href="/" title="首页">首页</a></li>
										<li class="page_item page-item-2"><a href="http://127.0.0.1/wordpress/?page_id=2">示例页面</a></li>
									</ul>
								</div>
			</nav><!-- #access -->
{% endblock %}

{% block contact %}

		<div id="primary">
			<div id="content" role="main">
	{% for post in posts %}
		<article id="post-{{ post.id }}" class="post type-post status-publish format-standard hentry category-uncategorized">
			<header class="entry-header">
							<h1 class="entry-title"><a href="/page/{{ post.id }}/" title="链向 {{ post.title }} 的固定链接" rel="bookmark">{{ post.title }}</a></h1>
				
							<div class="entry-meta">
					<span class="sep">发表于 </span><a href="/page/{{ post.id }}/" title="{{ post.modify_date|date:'H:i' }}" rel="bookmark"><time class="entry-date" pubdate>{{ post.modify_date|date:"Y 年 m 月 d 日" }}</time></a>
					<span class="by-author"> <span class="sep"> 由 </span> <span class="author vcard"><a class="url fn n" href="http://127.0.0.1/wordpress/?author=1" title="查看所有由 {{ post.user.first_name }} 发布的文章" rel="author">{{ post.user.first_name }}</a></span></span>		</div><!-- .entry-meta -->
				
							<div class="comments-link">
								<a href="/page/{{ post.id }}/#comment" title="《{{ post.title }}》上的评论"><span class="leave-reply">回复</span>1</a>			
							</div>
						</header><!-- .entry-header -->

					<div class="entry-content">
				<p>{{ post.content }}</p>
						</div><!-- .entry-content -->
			
			<footer class="entry-meta">
													<span class="cat-links">
					<span class="entry-utility-prep entry-utility-prep-cat-links">发表在</span> <a href="http://127.0.0.1/wordpress/?cat=1" title="查看 未分类 中的全部文章" rel="category">未分类</a>			</span>
										
										<span class="sep"> | </span>
							<span class="comments-link"><a href="/page/{{ post.id }}/#respond" title="《{{ post.title }}》上的评论"><span class="leave-reply">
								{% if post.commit %}
									<b>{{ post.commit }}</b>条回复
								{% else %}
									发表回复
								{% endif %}
							</span></a></span>
				
						</footer><!-- #entry-meta -->
		</article>
	{% endfor %}
			
			</div><!-- #content -->
		</div><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
			<aside id="search-2" class="widget widget_search">	<form method="get" id="searchform" action="http://127.0.0.1/wordpress/">
		<label for="s" class="assistive-text">搜索</label>
		<input type="text" class="field" name="s" id="s" placeholder="搜索">
		<input type="submit" class="submit" name="submit" id="searchsubmit" value="搜索">
	</form>
</aside>		<aside id="recent-posts-2" class="widget widget_recent_entries">		<h3 class="widget-title">近期文章</h3>		<ul>
				<li><a href="http://127.0.0.1/wordpress/?p=5" title="开始写博客系统">开始写博客系统</a></li>
				<li><a href="http://127.0.0.1/wordpress/?p=1" title="世界，你好！">世界，你好！</a></li>
				</ul>
		</aside><aside id="recent-comments-2" class="widget widget_recent_comments"><h3 class="widget-title">近期评论</h3><ul id="recentcomments"><li class="recentcomments"><a href="http://wordpress.org/" rel="external nofollow" class="url">WordPress 先生</a> 发表在《<a href="http://127.0.0.1/wordpress/?p=1#comment-1">世界，你好！</a>》</li></ul></aside><aside id="archives-2" class="widget widget_archive"><h3 class="widget-title">文章归档</h3>		<ul>
			<li><a href="http://127.0.0.1/wordpress/?m=201207" title="2012 年七月">2012 年七月</a></li>
		</ul>
</aside><aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">分类目录</h3>		<ul>
	<li class="cat-item cat-item-1"><a href="http://127.0.0.1/wordpress/?cat=1" title="查看 未分类 下的所有文章">未分类</a>
</li>
		</ul>
</aside><aside id="meta-2" class="widget widget_meta"><h3 class="widget-title">功能</h3>			<ul>
						<li><a href="http://127.0.0.1/wordpress/wp-login.php">登录</a></li>
			<li><a href="http://127.0.0.1/wordpress/?feed=rss2" title="使用 RSS 2.0 订阅本站点内容">文章 <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://127.0.0.1/wordpress/?feed=comments-rss2" title="使用 RSS 订阅本站点的所有文章的近期评论">评论 <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://cn.wordpress.org/" title="基于 WordPress，一个优美、先进的个人信息发布平台。">WordPress.org</a></li>
						</ul>
</aside>		</div><!-- #secondary .widget-area -->
{% endblock %}
